<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lucky Number</title>
        <link href="{{ asset('css/number.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="container-title">
                <h1>Your lucky number is {{number}}</h1>
            </div>
        </div>
    </body>
</html>
