{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    
    {# <div class="btn btn-primary"> #}
        {{ form(category_form) }}
    {# </div> #}
{% endblock %}
