{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container text-center w-50 border">

        <h1>{{ title }}</h1>
        
        {{ form(category_form) }}

        <a href="{{ path('category_index')}}" class=" btn btn-primary w-100">Retornar</a>
    </div>
{% endblock %}
