{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    
    {{ form(category_form) }}

    <a href="{{ path('category_index')}}" class=" btn btn-primary">Retornar</a>

{% endblock %}
