* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100vh;
}

.container-title {
    border: 3px solid black;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}