* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #af7eff;
    background-image: linear-gradient(43deg, #af7eff 0%, #ff99af 46%, #ffc189 100%);
    height: 100vh;
}

.card-transparent{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #212529;
    box-shadow: 0 8px 15px 0 rgba(17, 21, 70, 0.162);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}