{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container text-center w-50 p-3 rounded-3 mt-5 card-form">
        <h1 class="mt-3">{{ title }}</h1>
        {{ form(director_form) }}
        <a href='{{ path("director_index") }}' class='btn btn-primary mt-2 w-100'>Cancelar</a>
    </div>
{% endblock %}d
