{% extends 'base.html.twig' %}

{% block title %}Termos de usuário{% endblock %}

{% block body %}
    <h1>Termos de usuário</h1>

    <p>
        Ninguém vai ler essa merda, caso você tenha chego aqui, favor aceitar os termos na tela anterior, 
        caso contrário não acessará o site. Vlw ❤
    </p>
{% endblock %}
